*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI;
scroll-behavior:smooth;
}

body{
background:linear-gradient(120deg,#0f7778,#203a43,#2c5364);
color:blue;
}

/* NAVBAR */

nav{
display:flex;
justify-content:space-between;
padding:20px 8%;
background:rgba(0,0,0,0.4);
backdrop-filter:blur(10px);
position:sticky;
top:0;
}

nav ul{
display:flex;
gap:30px;
list-style:none;
}

nav a{
color:black;
text-decoration:none;
transition:.3s;
}

nav a:hover{
color:#00f7ff;
}

/* HERO */

.hero{
height:90vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
}

.hero h1{
font-size:55px;
}

.hero h2{
margin:20px 0;
color:#00f7ff;
}

.hero button{
padding:14px 28px;
border:none;
background:#00f7ff;
color:black;
font-weight:bold;
border-radius:30px;
cursor:pointer;
transition:.4s;
}

.hero button:hover{
transform:scale(1.1);
}

/* GLOW NAME */

.glow{
color:#fff;
text-shadow:0 0 10px #00f7ff,
            0 0 30px #00f7ff,
            0 0 60px #00f7ff;
}

/* SECTIONS */

.section{
padding:90px 10%;
text-align:center;
}

.skills{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:20px;
margin-top:30px;
}

.skills div{
padding:15px 25px;
background:rgba(255,255,255,0.08);
border-radius:12px;
transition:.3s;
}

.skills div:hover{
transform:translateY(-6px);
background:#00f7ff;
color:black;
}

/* PROJECT CARDS */

.cards{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:30px;
margin-top:40px;
}

.card{
width:260px;
padding:30px;
background:rgba(255,255,255,0.07);
border-radius:18px;
transition:.4s;
}

.card:hover{
transform:translateY(-12px) scale(1.05);
box-shadow:0 0 30px #00f7ff;
}

/* MOBILE */

@media(max-width:700px){

.hero h1{font-size:38px;}

nav{
flex-direction:column;
gap:15px;
}

}
/* ===== PERFECT CIRCULAR PROFILE PHOTO ===== */

.photo{
width:200px;
height:200px;
border-radius:50%;
overflow:hidden;
margin:auto;
margin-bottom:30px;

/* nice glowing border */
box-shadow:0 0 25px #00f7ff;

/* smooth animation */
transition:0.4s;
}

/* image inside circle */

.photo img{
width:100%;
height:100%;
object-fit:cover;
border-radius:50%;
}

/* hover effect */

.photo:hover{
transform:scale(1.05);
box-shadow:0 0 45px #00f7ff;
}
p a{
    color:aquamarine;

}